h1 {
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("/images/couple1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: grey;
}
.nice {
    display: block;
    margin-right: 20px;
    padding-right: 20px;
}


.btn {
    margin: 5px;
    background: #c4e5ed;
}

.loginName {
    float: right;
    margin-right: 20px;
    margin-top: 11px;
    padding-left: 20px;
    border-left: 1px solid gray;
}

.col-md-6 {
    text-align : justify;
}

h4 {
    text-align : center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: black;
}
a{
    color: white;
}

 .jumbotron, .col-md-12, well {
     background-color: rgba(255,255,255, 0.6);
     color: black;
 }

 #pretty {
    text-align: center;
    color: green;
 }

.nav {
  background: #556e96;
  font-size: 12px;
}

.yellow {
    display: block;
    margin: auto;
    text-align: center;
    width: 500px;
}
.form-control {
    margin-bottom: 20px;
}
.well {
    background-color: rgba(255,255,255, 0.6);
    color: black;
}
.questionButton {
    display: block;
    float : right;
    margin-right : 16px;
    margin-top : -10px;
    margin-bottom : -6px;
    background: #556e96;
    color: white;
}
.registerButton {
    display: block;
    margin-left: 140px;
    background: #556e96;
    color: white;
}
.panel-heading {
    background: #556e96;
    color: white;
}
.panel {
    background-color: rgba(255,255,255, 0.6);
    color: black;
}

.panel-body{
    display: block;
    margin: auto;
    text-align: center;
    width: 800px;
    padding-left: 200px;
}
.loginName {
    color: white;
}
h5 {
    padding-left: 20px;
}