h1 {
    text-align: center;
}

.btn {
    margin: 5px;
    background: #c4e5ed;
}

.loginName {
    float: right;
    margin-right: 20px;
    margin-top: 11px;
    padding-left: 20px;
    border-left: 1px solid gray;
}

.col-md-6 {
    text-align : center;
}