<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Dating-website{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/users/new">Member Registration</a></li>
    <li role="presentation"><a href="/users/login">User Login</a></li>

</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/dating.jpg" width="70%">
        <h1>Welcome to Dating Website. </h1>
        <p>A journey to make new friends! Dating Website is the modern app for the efficient and connected one or more friends.
        Dating Website is a Hybrid app, it's available on Web to offer users to do more. All things available on mobile, plus more.
        </p>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
    </body>
    </html>
{{/block}}