{{#partial "content"}}
    <h1>##### App </h1>
    <hr>
    <button class="btn"><a href="/users/new">Member Registration</a></button>
    <button class="btn"><a href="/users/login">User Login</a></button>


{{/partial}}

{{> layout.hbs}}