{{#partial "content"}}
    <h1>##### App </h1>
    <hr>


    {{#each foundquestions}}
        {{prompt}}<br>
        {{#each foundquestionoptions}}
            {{if
            {{choice}}<br>
        {{/each}}
    {{/each}}

        <footer class="footer">
            <div class="container">
            </div>
        </footer>


{{/partial}}

{{> layout.hbs}}