{{#partial "content"}}

        <div class="well">
            <h1>Add a New Compatibility Question</h1>

            <form action="/questions/new" method="post">
                <div class="form-group">
                    <label for="questionPrompt">Question</label>
                    <input id="questionPrompt" name="questionPrompt" type="text" class="form-control" required>
                </div>



                <div class ="form-group">
                    <label for="questionChoice1">Choice 1</label>
                    <input id="questionChoice1" name="questionChoice1" type="text" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="questionChoice2">Choice 2</label>
                    <input id="questionChoice2" name="questionChoice2" type="text" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="questionChoice3">Choice 3</label>
                    <input id="questionChoice3" name="questionChoice3" type="text" class="form-control" required>
                </div>
                <div class ="form-group">
                    <label for="questionChoice4">Choice 4</label>
                    <input id="questionChoice4" name="questionChoice4" type="text" class="form-control" required>
                </div>



                <button type="submit" class="btn">Submit new question</button>
            </form>
        </div>


{{/partial}}

{{> layout.hbs}}