{{#partial "content"}}
<h2>Add a User</h2>

<div class="container">
<form action="/users/new" method="post">

    <div class ="row">
        <div class = "col-md-6">
            <div class = "form-group">
            <label for="inputName">What is your Name?</label>
            <input id="inputName" name="inputName" class = "form-control" type="text">
            </div>
        </div>
    </div>

    <div class ="row">
        <div class = "col-md-6">
            <label for="inputAge">Age</label>
            <input id="inputAge" name="inputAge" class = "form-control" type="text">
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-3">
            <p>I'm a
                <label><input type="radio" name="gender" value="male" >Male</label>
                <label><input type="radio" name="gender" value="female" >Female</label>
            </p>
        </div>
        <div class="col-md-3">
            <p>Interested in
                <label><input type="radio" name="genderPreference" value="male">Male</label>
                <label><input type="radio" name="genderPreference" value="female">Female</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputMinimumAge">Minimum Age Preference</label>
            <input id="inputMinimumAge" name="inputMinimumAge" type="text" class = "form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputMaximumAge">Maximum Age Preference</label>
            <input id="inputMaximumAge" name="inputMaximumAge" type="text" class = "form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputZip">Zip Code</label>
            <input id="inputZip" name="inputZip" type="text" class = "form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        <label for="inputEmailAddress">Your Email Address</label>
        <input id="inputEmailAddress" name="inputEmailAddress" type="text" class = "form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" name="inputPassword" type="text" class = "form-control">
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <p>
                <label>Select city</label>
                <select id="city" name="city">
                    <option value="">-- Choose Test --</option>
                    <option value="1">Portland</option>
                    <option value="2">Salem</option>
                    <option value="3">Gresham</option>
                    <option value="4">Aloha</option>
                </select>
            </p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>


</form>
</div>
{{/partial}}

{{> layout.hbs}}