<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
</ul>
{{#partial "content"}}


<div class="row">
<div class="well">
        <div class="yellow">
            <h1>User Login</h1>
    <form action="/users/login" method="post">


        <label for="inputUserLogin">Email</label>
        <input id="inputUserLogin" name="inputUserLogin" type="email" class="form-control">

        <label for="inputUserPassword">Password</label>
        <input id="inputUserPassword" name="inputUserPassword" type="password" class="form-control">

        <button type="submit" class="btn">Submit</button>


    </form>
        </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}